# Basic security headers
server_tokens off;
add_header X-Frame-Options "SAMEORIGIN";
add_header X-XSS-Protection "1; mode=block";
add_header X-Content-Type-Options "nosniff";
add_header Content-Security-Policy "default-src 'self'";

# SSL Configuration (solo si SSL está configurado)
ssl_protocols TLSv1.2 TLSv1.3;